@import "./flex";

.card {
	@include flex(column, start, center);

	justify-content: center;
	padding: 0em;
	margin: 1em ;
	border-bottom: 1px solid grey;
	display: flex;
	box-shadow: 3px 0 4px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	cursor: pointer;
	background-color:white;
	max-width: 10em;
	max-height: 10em;
	
}

.imagem {
	width: 100%;
  
}
  